<!--The content below is only a placeholder and can be replaced.-->

 <div class="ct" id="t1">
 <div class="ct" id="t2">
   <div class="ct" id="t3">
     <div class="ct" id="t4">
<section>  
<ul>
   <a href="#t1"><li class="icon fa fa-home" id="uno">Home</li></a>
   <a href="#t2"><li class="icon fa fa-keyboard-o" id="dos">Table</li></a>
   <a href="#t3"><li class="icon fa fa-coffee" id="tres">Chart</li></a>
   <a href="#t4"><li class="icon fa fa-dribbble" id="cuatro">Report</li></a>
 </ul>

  <div class="page" id="p1">
     <li class="icon fa fa-home"><span class="title">Welcome to {{title}}!</span><span class="hint">Like this app to see the magic!...<br/> Just kidding, it won't happen anything but I'll be really happy If you do so.</span></li>   
  </div>
  <div class="page" id="p2">
    <!--<li class="icon fa fa-keyboard-o"><span class="title">Table</span></li>-->
    <span class="title text-center">Table</span>
    <app-csv-table>Loading......</app-csv-table>
  </div>  
  <div class="page" id="p3">
    <span class="title text-center">Chart</span>
    <!--<li class="icon fa fa-coffee"><span class="title">chart</span></li>-->
    <app-pie-chart>Loading......</app-pie-chart>
  </div>
  <div class="page" id="p4">
    <span class="title text-center">Report</span>
    <app-bar-chart>Loading......</app-bar-chart>
    
   <!--<li class="icon fa fa-dribbble"><span class="title">report</span></li>-->
  </div>  
	<p class="credit"> Original app by <a href="https://codepen.io/hrtzt/">S2</a></p>
</section>
       
     </div>
     </div>
   </div>
  </div>




 <!-- <div class="form-group row">
    <label>Upload image file for background : </label>
    <input type="file" (change)="onBgc($event.target)" name="mybgcfile">
  </div>-->




