<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div class="container">
	
	<div class="form-group row">
	    <label>Upload json file: </label>
		<input type="file" (change)="onChartFileSelect($event.target)" name="mycsvfile">
	</div>
	<div class="row"><button class="btn btn-info" (click)="demo()">Demo Example</button></div>
	<br>
	<div class="row">
		<!--<form>
			<input type="text" [(ngModel)]="userinput" name="type" placeholder= "Enter the chart type...." value="" class="input-sm col-xs-4">
			<input type="submit" class="input-sm btn btn-success" (click)="changechart(userinput)">
		</form>-->

		<div class="form-group col-lg-8" style="padding-left: 0px">
		  <label for="sel1">Select Chart Type:</label>
		  <select class="form-control " id="sel1" #selectElem (change)="changechart(selectElem.value)">
		        <option *ngFor="let chart of chartList" [ngValue]="chart">
		            {{chart}}
		        </option>
		   </select>
		</div>
	</div><br>
	


	<div class="row" style="width:90%">
		<div #chartTarget>
		  Upload Json file in std template
		</div>
	</div>
	
</div>