/* You can add global styles to this file, and also import other style files */

html, body, section, .page {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
  -webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
  color: #fff;
  background: #374046;
  overflow-x: hidden;
  overflow-y: auto;
}